<!DOCTYPE html>

<head>
  <title>David's baking dojo</title>
  <link href = "../../resources/css/syle.css" type="text/css" rel="stylesheet">
  
</head>
<body>
    <header>
      <p>Davids Baking Dojo</p>
      <div class="dropdown right-align">
       <p class="button" >more recipes</p>
       <div class="dropdownContent">
         <a href="#">Desserts</a>
         <a href="#">Appetizers</a>
         <a href="#">Entrees</a>
        </div>
       </div>
    </header>
    
    <div class = "title">
        <h1>Title</h1>

    </div class="intro">
    <p> 
    </p>
    <div class = "main">

      <section class = "image">
        <img src = "">
        <h2>Quick facts</h2>
        <p>Difficulty: </p>
        <p>Prep time:  minutes</p>
        <p>Bake time  minutes</p>
        <p>Total time:  minutes</p>
      </section>

      <div class = "text_divs">

         <section class = "ingredients ">
        <h3>Ingredients</h3>
        <article class ="center">
          <ul  >
            <li> <div class="checkbox"><img src=""/> </div>ingredient</li>
            <li><div class="checkbox"> <img src=""/> </div>ingredient</li>
            <li><div class="checkbox"> <img src=""/> </div>ingredient</li>
            <li><div class="checkbox"> <img src=""/> </div>ingredient</li>
            <li><div class="checkbox"> <img src=""/> </div>ingredient</li>
            <li><div class="checkbox"> <img src=""/> </div>ingredient</li>
            <li><div class="checkbox"> <img src=""/> </div>ingredient</li>
            <li><div class="checkbox"> <img src=""/> </div>ingredient</li>
            <li><div class="checkbox"> <img src=""/> </div>ingredient</li>
            <li><div class="checkbox"> <img src=""/> </div>ingredient</li>


          </ul>
        </article>

         </section>

         <section class = "instructions">
        <h3>instructions</h3>
        <article class = "center">
          <ol>
            <li>step</li>
            <li>step</li>
            <li>step</li>
            <li>step</li>
            <li>step</li>
            <li>step</li>
            <li>step</li>
            
          </ol>
        </article>
      </section>

         

       </div>
    </div>
    <section class = "tips">
            <h3>helpful hints and tricks</h3>
            <p>
                tip 
            </p>
            <p>
               tip 
            </p>
            <p>
              tip 
            </p>
            <p>
               tip 
            </p>
            <p>
               tip 
            </p>
            
    
    
          </section>
    <section class = "walkthrough">
        <h2>Detailed walkthrough</h2>
        <p>intro text
        </p>
        <br>
        <h3>subheader</h3>
        <p>detail text
        </p>
        
        <h3>subheader</h3>
        <p>
          detail text
        </p>
       
        

    </section>

    <!--you need these srcripts for basic functionality -->
    <script type="text/javascript" src="../../Scripts/checkboxscript.js" defer></script>
    <script type="text/javascript" src="../../Scripts/dropdown.js" defer></script>
</body>